body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #151416;
  color: #333; 
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  min-height: 100vh; 
}

h1 {
  color: #4d0b84; 
  margin-top: 30px; 
  text-align: center; 
}


.container {
  background:#4d0b84;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2); 
  padding: 30px; 
  margin-top: 20px;
  width: 90%; 
  max-width: 600px; 
}


form {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 10px;
}


form input {
  flex: 1 1 45%; 
  min-width: 10%; 
  padding: 10px;
 border: 1px solid #BC13FE;
  border-radius: 8px; 
  font-size: 1em; 
}


form button {
  flex: 1 1 100%; 
  padding: 12px; 
  background: #a249eb;
  color: white; 
  border: none; 
  border-radius: 8px;
  cursor: pointer; 
  font-size: 1em; 
  transition: background 0.3s ease; 
}


form button:hover {
  background: #4d0b84; 
}

table {
  margin-top: 30px; 
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 12px; 
  border-bottom: 1px solid #4d0b84; 
}

th {
  background-color: #4d0b84;
  color: white; 
}


.no-data {
  text-align: center; 
  color: #777; 
  padding: 15px; 
}


